*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: white;
}

h1{
    color: white;
}

img{

    height: 50vh;
    width: 50vh;
}